<h2> Crypto currency Lookup </h2>
<br/>

<%=form_tag home_lookup_path, :method=> 'get' do %>
   <%= text_field_tag 'sym', nil, placeholder: 'Enter crypto Symbol' , size: 50 %>
   <%= submit_tag 'SEARCH',class: "btn btn-success" %>
<%end%>

<br/><br/>

<%= $symbol %>

<% if $symbol %>
<% for x in $lookup_coin %>
    
         <% if $symbol==x["symbol"] %>
              :<%= x["name"] %><br/>
              PRICE:<%= x["price"] %> <br/>
              MARKET CAP:<%= x["market_cap"] %> <br/>
              RANK:<%= x["rank"] %><br/><br/>
            <%end%>
    <%end%>
<%end%>